header{
	border-bottom: 1px solid gray;
	height: 90px; 
}
	header ul{

	}
	header ul li{
		height: 90px; 
		// margin-right: 20px; 		
	}

main{
	// background: gray;
	// max-height: 500px;
	// overflow: scroll;
	// overflow-x: hidden;
}
footer{
	clear: both;
	position: absolute;
	bottom: 17px;
	border-top: 1px solid gray;
}
.container{
	width: 938px ;
}
.tool-editor{
	border: 5px solid #ccc;
	border-radius: 5px;
}
.tool-left .btn{
	margin: 1px;
}
.tool-center{
	border: 1px solid #ccc;
	height: 605px;
	background: gray;
}
.tool-right{
	height: 600px;
}
.framre-menu{
	border: 2px solid red;
	display: inline-block;
	// margin-right: 10px;
}